/* COLOR VARIABLES */
:root {
  --orange: #f69907;
  --orange-hover: #fcc78d;
  --white: #ffffff;
  --grey: #9f9f9f;
  --grey-hover: #d9d9d9;
  --dark-grey: #313131;
  --dark-grey-hover: #737373;
  --black: #000000;
}

/* ELEMENT SELECTORS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-family: Helvetica, sans-serif;
  background: rgb(223,223,223);
  background: linear-gradient(rgba(223,223,223,1) 35%, rgba(158,158,158,1) 100%);
}


/* CLASS SELECTORS */


.btn {
  border: none;
  border-radius: 50px;
  font-size: 1.75rem;
  height: 60px;
  width: 60px;
  background-color: var(--dark-grey);
  color: var(--white);
  cursor: pointer;
  transition: 0.5s ease-out;
}

.btn:hover {
  background-color: var(--dark-grey-hover);
  transition: 0s ease-in;
}

.btn.spacing {
  text-align: left;
  padding-left: 25px;
  width: 100%;
  grid-column: 1/3;
}

.operator {
  background-color: var(--orange);
  color: var(--white);
  font-size: 2rem;
}

.operator:focus:not(:last-child) {
  background-color: var(--white);
  color: var(--orange);
}

.operator:hover {
  background: var(--orange-hover);
}


.controls:first-child {
  font-size: 1.5rem;
}

.controls {
  background-color: var(--grey);
  color: var(--black);
}

.controls:hover {
  background-color: var(--grey-hover);
}

.plus-position,
.minus-position {
  font-size: 1rem;
  position: relative;
}

.plus-position {
  bottom: 7.5px;
}

.minus-position {
  justify-self: flex-end
}

.copyright{
  text-decoration: none;
  color: var(--black);
  transition: 0.5s;
}

.copyright:hover{
  color: var(--dark-grey);
}

/* ID SELECTORS */

#title{
  color:var(--dark-grey);
}

#calculator {
  width: 350px;
  height: 600px;
  padding: 1.5rem;
  border-radius: 17.5px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem 1rem;
  grid-auto-rows: 50px;
}

#output {
  width: 100%;
  height: 10rem;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 3rem;
  font-weight: lighter;
  padding: 0 1.35rem;
}


@media screen and (max-width: 500px){
  body{
    background-color: var(--black);
    background-image: var(--black);
  }
  
  .copyright,
  #title{
    color: var(--white);
  }

  .copyright:hover{
    color: var(--grey);
  }

  #calculator{
    width:80%;
    height:80%;
    border-radius: 0px;
  }

  #display{
    margin-right: 10px;
  }

}
  
